<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>

<p><a href="/simpleExpression"> Simple Expression</a></p>
<p><a href="/conditionalExpression"> Conditional Expression</a></p>
<p><a href="/iterationExpression"> Iteration Expression</a></p>
<br><hr><br>
<p><a href="/addPerson" >Go To Person Form Page</a> </p>
<br><hr><br>
<p><a href="/include" >Go To Include Layout Page</a> </p>
<br><hr><br>
<p><a href="/hierarchical" >Go To Hierarchical Layout Page</a> </p>
</body>
</html>