<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Expression</title>
</head>
<body>

<h1>Simple Expression</h1>
<h2>Variable Expression</h2>

<p th:text="${person.id}">ID Field</p>
<p th:text="${person.name}">Name Field</p>

<h4>Address</h4>
<p th:text="${person.address.street}"> Street </p>
<p th:text="${person.address.zipCode}"> Zip Code </p>

<h2>Selection Variable Expression</h2>

<div th:object="${person}">
    <p th:text="*{id}">ID Field</p>
    <p th:text="*{name}">Name Field</p>

    <h4>Address</h4>
    <p th:text="*{address.street}"> Street </p>
    <p th:text="*{address.zipCode}"> Zip Code </p>
</div>

<h2>Message Expression</h2>

<p th:text="#{user.name}">Default User Name</p>
<p th:text="#{project.name}">Default Project Name</p>

</body>
</html>