<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shared Components</title>

    <locator th:fragment="head">
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="../../../static/css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="../../../static/css/cover.css" th:href="@{/css/cover.css}">
    </locator>
</head>
<body>

</body>
</html>